/* /css/user/signup.css */

.signup-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 1rem;
    background-color: #f7f7f7;
    min-height: 80vh;
}

.signup-form .form-wrapper {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.signup-form h1 {
    margin-bottom: 2rem;
    font-size: 2.0rem;
    color: #000;
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #002f5f;
    text-align: center;
}

.signup-form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.signup-form input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    margin-top: 2rem;
    width: 100%;
    padding: 0.8rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #005fa3;
}
button[type=button].backBtn{
    background-color: #777 !important;
}
button[type=submit]{
    background-color: #28a745 !important;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.checkbox-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
}

.checkbox-group label {
    font-size: 0.95rem;
    font-weight: 500;
    margin: 0;
}
