<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="header">
    <header class="header">
        <h1><a href="/" style="color: inherit; text-decoration: none;">trapbiz</a></h1>
        <div class="header-actions">
        <span th:if="${#authorization.expression('isAuthenticated()')}">
            <span th:text="${#authentication.name} + '님 환영합니다.'"></span>
            <a class="mypage-btn" th:href="@{/user/mypage_personal}">마이페이지</a>
            <a class="logout-btn" th:href="@{/user/logout_personal}">로그아웃</a>
        </span>
            <span th:unless="${#authorization.expression('isAuthenticated()')}">
            <a class="login-btn" th:href="@{/user/login_personal}">로그인</a>
            <a class="signup-btn" th:href="@{/user/signup_personal}">회원가입</a>
        </span>
        </div>
    </header>
</div>
</body>
</html>
